@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

*{
    font-family: "Poppins", serif,Arial;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.main-titel{
    margin: 30px auto 80px;
    font-size: 30px;
    text-align: center;
    color: #eee;
    border-bottom: 3px solid #065D9E;
    width: fit-content;
    letter-spacing: 1px;
}

.social{
    margin: 20px auto;
}

.social a{
    font-size: 25px;
    margin: auto 10px;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 20%;
    transition: .3s;
}

.social .wats{
    color: green;
}

.social .email{
    color: crimson;
}

.pagelanding{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: #055C9D;
}

.pagelanding p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fff;
    animation: loding 3s infinite;
}

@keyframes loding {
    20%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}

.pagelanding .fa-hourglass-start{
    margin-left: 10px;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}

.navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.navbar-brand{
    color: #065D9E;
    opacity: 0;
    animation: appear 3s forwards;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

.navbar .navbar-nav .nav-link{
    color: #000;
    opacity: 0;
    animation: appear 3s forwards;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #065D9E;
}

.down{
    background-color: #003060;
    border-radius: 30px;
    padding: 3px 5px;
    margin-bottom: -4px;
}

#header{
    background-color: #ECF0F3;
    padding: 9rem 0;
    opacity: 0;
    animation: appear 3s forwards;
}

#header p{
    color: #003060;
    font-weight: 500;
    font-size: 20px;
}

/* 285 */

.my-name{
    color: #055C9D;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: auto;
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #003060;
    animation: my-name 2s steps(12) 6s both, blink 0.5s infinite;
}

/* animatio my name */

@keyframes my-name{
    from{
        width: 0;
    }

    to{
        width: 280px;
    }
}


@keyframes blink{
    from{
        border-right-color: #003060;
    }
    to{
        border-right-color: transparent;
    }
}

/* end animatio my name */

.header .main-btn{
    margin-top: 10px;
    background-color: #003060;
    border: #fff solid 2px;
}

.header .main-btn:hover{
    background-color: #065D9E;
}

#about{
    padding: 6rem 0;
    border-bottom: 1px solid #ccc;
}

.my-Emails{
   padding-left: 9rem;
   padding-top: 4rem;
}

.text-header{
    border-bottom: 3px solid #003060;
    margin-bottom: 5rem;
}

#about .content-about .my-p{
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.content-about{
    position: relative;
}



/* About End */


/* Skills Start */

.skils{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #003060;
}

.skils .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}

.container .box{
    background-color: #065D9E;
    width: 220px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    border-radius: 10px;
    transition: .4s;
    margin: 20px auto;
}

.container .box:hover{
    transform: translateY(-20px);
}

.skils .box p{
    margin-top: 10px;
    font-size: 22px;
    text-shadow: 2px 3px 6px #333;
    letter-spacing: 1px;
}

.container .box img{
    max-width: 150px;
}

/* end skils */

/* contact */

#contact{
    padding: 6rem 0;
    background-color: #48a6ed88;
}

.inputs{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 420px;
    color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    margin-left: 350px;
}

input{
    color: #111;
    width: 500px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
    background-color:transparent;
}

::placeholder{
    color: #fff;
}

input:focus{
    outline: none;
}

textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 500px;
}


/* contact */

/* Start portfolio */

.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:767px){
    .portfolio .portfolio-content .card{
        text-align: center;
    }
}

.portfolio .portfolio-content .card:hover{
    transform: translateY(-20px);
}

.portfolio .portfolio-content .card img{
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.portfolio  .card .info{
    padding: 20px;
}

.portfolio .portfolio-content .card h3{
    margin: 0 0 10px;
}

.portfolio .portfolio-content .card p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}


/* End portfolio */


/* Footer */
.footer{
    background-color: #012141;
    color: #fff;
    height: 80px;
    text-align: center;
}


.footer h3{
   padding-top: 20px;
}

/* Footer */